{{#each this}}
  <div class='countries'>
    <img class='country__flag' src='{{flags.svg}}' alt='{{name.official}}' width='90' />
    <h2 class='country__name'>{{name.official}}</h2>
  </div>
{{/each}}